
/*li dot killer*/
     .alert-danger 
    {  
    list-style-type: none;
    padding-right: 20px;
    margin-left: -0px;
    color:#fed51c;
    }

 /*menu table*/
    #navlist li
    {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    margin-left: -0px;
    }
    
     /*icons big in white*/
     .icon-success {
    color: #ffffff;
}
/*hidden fields*/
.hpet
{
  display: none; 
}
/*Front Footer bottom*/
#footerfront {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 50px;
       background: #fff none repeat scroll 0 0;
    border-top: 1px solid #d2d6de;
    color: #444;
    padding: 15px;
      background: #fff none repeat scroll 0 0;
    border-top: 1px solid #d2d6de;
    color: #444;
    padding: 15px;
}
/*body background grey*/
body 
{
    background-color:#ECF0F5!important;
}
/*big form lg 12 white background*/
div.box.box-primary div.col-lg-12
{
    background-color:#ffffff!important;
}

/*badge design*/
 .badge {
    padding: 1px 8px 1px;
    background-color: #aaa !important;
  }
/*table header dark*/
  .blacktr
  {
    
    background-color: #222D32 !important;
    color: #ffffff;
  }
/*delete button design*/
  .deletedesignkiller input.btn.btn-danger.btn-block
  {    
   font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
    width: 50%;
  }

/*old table shadow box*/
  .panel {   
    border: 0px solid transparent!important;  
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05)!important;
}

/*Export Button*/
button.btn.btn-warning.btn-sm.dropdown-toggle {   
background-color: #3c8dbc !important;
margin-bottom: 20px;
padding: 7px;
border: none;
}

/*Footer Front*/

.footable-nav{   
background-color: #3c8dbc !important;
margin-bottom: 20px;
}


/*Drop Down Menu Back*/
ul.dropdown-menu li.header{   
background-color: #1e282c !important;
color:white!important;
}
.dropdown-menu{   
background-color: #222d32 !important;
color:white!important;
}

ul.dropdown-menu li.footer{   
background-color: #222d32 !important;
color:white!important;
}

ul.dropdown-menu li div.slimScrollDiv ul.menu li p a{   
color: #ffffff !important;
}

ul.dropdown-menu li.user-body div.col-xs-12.text-center a{
background-color: #222D32 !important; 
color: #ffffff!important; 
}

/*Comments Front*/
.commentitem{
 background-color: #ffffff !important; 
 padding-bottom: 25px;
 padding-left: 10px;
 padding-right: 10px;
}

.textcontentbottom{
 padding-bottom: 5px;
}

.textcontent{

 padding-bottom: 25px;
 padding-left: 10px;
 padding-right: 10px;
}
/*userbody back*/
.user-body{
background-color: #222D32 !important; 
color: #ffffff!important; 
}
/*Serach back*/
.sidebar-form{
margin-left: -0px!important; 
 overflow: hidden!important; 
width: 100%;
height: 40px;
border: 0px solid blue!important;    
}

form.sidebar-form{
background-color: transparent!important; 
color: #ffffff!important; 

}



